In [8]:
import pandas as pd 
import numpy as np
import re

In [9]:
df_raw = pd.read_csv("programs.csv") 
df_raw["Season"] = df_raw["Season"].astype(str)
df_raw["Short program"] = df_raw["Short program"].astype(str)
df_raw["Free skating"] = df_raw["Free skating"].astype(str)
df_raw["Exhibition gala/ ice show"] = df_raw["Exhibition gala/ ice show"].astype(str)

In [10]:
df_raw.head()

,Season,Short program,Free skating,Exhibition gala/ ice show
0,2004–05,*Spartacus*,*From Russia with Love*,nan
1,2005–06,nan,*From Russia with Love*,nan
2,2006–07,"""Amazonic"" / ""Totentanz""","""Summer Storm""",nan
3,2007–08,"""Sing, Sing, Sing""",*The Firebird*,"""Amazonic"" / ""Totentanz"""
4,2008–09,"""Bolero""",*Rhapsody on a Theme of Paganini*,"""Change"""

In [11]:
df = pd.DataFrame(columns=["program_name"])

In [12]:
for index, row in df_raw.iterrows():

  current_season = row["Season"]
  if index == 0:
    last_season = current_season
  if current_season != "nan":
    last_season = current_season

  if row["Short program"] != "nan":
    formatted_program = re.sub(r'\*|\"', "", row["Short program"])
    new_row = f"{last_season} {formatted_program} SP"
    print(new_row)
    df = df.append({
        "program_name": new_row
    }, ignore_index=True)

  if row["Free skating"] != "nan":
    formatted_program = re.sub(r'\*|\"', "", row["Free skating"])
    new_row = f"{last_season} {formatted_program} FS"
    df = df.append({
        "program_name": new_row
    }, ignore_index=True)

  if row["Exhibition gala/ ice show"] != "nan":
    formatted_program = re.sub(r'\*|\"', "", row["Exhibition gala/ ice show"])
    new_row = f"{last_season} {formatted_program} EX gala"
    df = df.append({
        "program_name": new_row
    }, ignore_index=True)

Spartacus
2004–05 Spartacus Short Program
2006–07 Amazonic / Totentanz Short Program
2007–08 Sing, Sing, Sing Short Program
2008–09 Bolero Short Program
2009–10 Mission: Impossible II Short Program
2010–11 White Legend Short Program
2011–12 Étude in D-sharp minor Short Program
2012–13 Parisienne Walkways Short Program
2013–14 Parisienne Walkways Short Program
2014–15 Ballade No. 1 Short Program
2015–16 Ballade No. 1 Short Program
2016–17 Let's Go Crazy Short Program
2017–18 Ballade No. 1 Short Program
2018–19 Otoñal (Autumnal) Short Program
2019–20 Otoñal (Autumnal) Short Program
2019–20 Ballade No. 1 Short Program
2020–21 Let Me Entertain You Short Program
2021–22 Introduction and Rondo Capriccioso Short Program

In [13]:
df.head()

                                 program_name
0             2004–05 Spartacus Short Program
1  2004–05 From Russia with Love Free skating
2  2005–06 From Russia with Love Free skating
3  2006–07 Amazonic / Totentanz Short Program
4           2006–07 Summer Storm Free skating

In [14]:
df.to_csv("final.csv", index=False)

In [15]:
## Next Phase

df = pd.DataFrame(columns=["program_name", "season", "type"]) 
df.head()

Empty DataFrame
Columns: [program_name, season, type]
Index: []

In [16]:
for index, row in df_raw.iterrows():
  # if index > 0:
  #   break

  current_season = row["Season"]
  if index == 0:
    last_season = current_season
  if current_season != "nan":
    last_season = current_season

  if row["Short program"] != "nan":
    df = df.append({
        "program_name": row["Short program"],
        "season": last_season,
        "type": "short_program"
    }, ignore_index=True)

  # if row["Free skating"] != "nan":
  #   new_row = f"{last_season} {row['Free skating']} Free skating"
  #   df = df.append({
  #       "program_name": new_row
  #   }, ignore_index=True)

  # if row["Exhibition gala/ ice show"] != "nan":
  #   new_row = f"{last_season} {row['Exhibition gala/ ice show']} Exhibition gala/ ice show"
  #   df = df.append({
  #       "program_name": new_row
  #   }, ignore_index=True)

In [17]:
df

                            program_name   season           type
0                            *Spartacus*  2004–05  short_program
1               "Amazonic" / "Totentanz"  2006–07  short_program
2                     "Sing, Sing, Sing"  2007–08  short_program
3                               "Bolero"  2008–09  short_program
4               *Mission: Impossible II*  2009–10  short_program
5                         "White Legend"  2010–11  short_program
6                 Étude in D-sharp minor  2011–12  short_program
7                  "Parisienne Walkways"  2012–13  short_program
8                  "Parisienne Walkways"  2013–14  short_program
9                          Ballade No. 1  2014–15  short_program
10                         Ballade No. 1  2015–16  short_program
11                      "Let's Go Crazy"  2016–17  short_program
12                         Ballade No. 1  2017–18  short_program
13                 "*Otoñal*" (Autumnal)  2018–19  short_program
14                 "*Otoñal*" (Autumnal)  2019–20  short_program
15                         Ballade No. 1  2019–20  short_program
16                "Let Me Entertain You"  2020–21  short_program
17  *Introduction and Rondo Capriccioso*  2021–22  short_program